/* barra de navegacion */

.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}
navbar.collapse {
    align-items: center;
    justify-content: space-between;
}

/* estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
    font-size: 2.5rem;
}

.seccion-oscura {
    color:white;
    background-color:#1b1b32;
}
.seccion-clara {
    color:black;
    background-color: #f5f6f7;
}
.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.seccion-descripcion {
    font-size: 1.2rem;
    color:#524949;
}
.seccion-texto {
    font-size: 1.2rem;
}
.texto-negro {
    color: black;
}
.texto-blanco {
    color: white;
}

/* seccion hero */
.hero {
   background-color: #f5f6f7;
   min-height: 450px;
   text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-imagen-desarrollador {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin:0 auto;
}

/*sobre mi*/
.sobre-mi {
    height: 500px;
    padding: 10px;
}
.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/*experiencia*/
.experiencia {
   padding: 40px;
 }
 .experiencia-columna {
   padding: 20px;
   border: 2px solid #8080804d;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   transition: all 0.3s ease-in;
 }
.experiencia .columna:hover {
   color:white;
   background-color: #1b1b32;
}
.experiencia i {
   font-size: 1.0rem;
   color:#dedee7;
   background-color: #0a0a23;
   padding: 8px 12px;
   border-radius: 50%;
   margin-top: 6px;
 }
.badges-contenedor {
   font-size: 20px;
   font-weight: bold;
   margin: 10px 0;
}
.badge {
   margin: 4px;
}

/*conocimientos*/
 .conocimientos {
    padding: 40px;
  }
  .conocimientos-columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in;
  }
 .conocimientos .columna:hover {
    color:white;
    background-color: #1b1b32;
 }
 .conocimientos i {
   font-size: 1.0rem;
   color:#d9d9e6;
   background-color: #0a0a23;
   padding: 8px 12px;
   border-radius: 50%;
 }
 .conocimientos-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
 }
 .badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
 }
 .badge {
    margin: 4px;
 }
 /*proyectos*/
 .proyectos {
    padding: 40px;
 }
 .proyectos img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.3s ease;
 }
 .proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
 }
 .overlay {
    transition: 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
 }
 .overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
 }
 .proyecto {
    position: relative;
 }
 .proyecto:hover img {
    opacity: 0.2;
 }
 .proyecto:hover .overlay {
    opacity: 1;
 }
 .overlay .iconos-contenedor {
    display: flex;
    font-size: 2rem;
 }
 overlay i {
    color: black;
    font-size: 30px;
    margin: 10px;
 }
 /*footer*/
 .footer{
    min-height: 500px;
 }
 .footer-texto {
    font-size: 1.5 rem;
    padding: 20px;
    margin-bottom: 30px;
 }
 .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
 }
 .iconos-redes-sociales i {
    color:white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
 }
 .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid #191b94;
 }
 .iconos-redes-sociales a:hover i {
    color:black;
 }
 .derechos-de-autor {
    font-size: 15px;
    color:#706a6a;
    padding: 20px;
 }
  /*general*/
   .boton-edicion i {
   font-size: 1.0rem;
   color:#dedee7;
   background-color: #0a0a23;
   padding: 8px 12px;
   border-radius: 50%;
   }
 /*habilidades*/
 .caja-padre{
   width: 40%;
   min-width: 590px;
   position: static;
   margin-top: 10px;
   margin-bottom: 10px;
 }
 .graficos-contenedor{
   width: 100%;
   padding: 30px 30px 50px;
   border: 2px solid #0a0a23;
   border-radius: 10px;
 }
 .h2{
   letter-spacing: 2px;
   text-align: center;
   font-size: 34px;
   font-weight: bold;
 }
 .skills:not(:last-child){
 margin-bottom: 30px;
}
.detales{
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}
.menu{
   position: relative;
   border: 1px solid #2359f0;
   border-radius: 20px;
}
.menu div {
   position: relative;
   width: 0;
   height: 8px;
   border-radius: 10px;
   background-color: #2359f0;
}
#html-menu{
   animation: html-barra 2s forwards;
}
@keyframes html-barra{
   100%{
      width: 40%;
   }
}
#css-menu{
   animation: css-barra 2s forwards;
}
@keyframes css-barra{
   100%{
      width: 30%;
   }
}
#javascript-menu{
   animation: javascript-barra 2s forwards;
}
@keyframes javascript-barra{
   100%{
      width: 15%;
   }
}
#angular-menu{
   animation: angular-barra 2s forwards;
}
@keyframes angular-barra{
   100%{
      width: 25%;
   }
}
#trabajo-menu{
   animation: trabajo-barra 2s forwards;
}
@keyframes trabajo-barra{
   100%{
      width: 45%;
   }
}
#creatividad-menu{
   animation: creatividad-barra 2s forwards;
}
@keyframes creatividad-barra{
   100%{
      width: 28%;
   }
}
#planificacion-menu{
   animation: planificacion-barra 2s forwards;
}
@keyframes planificacion-barra{
   100%{
      width: 25%;
   }
}
#autonomia-menu{
   animation: autonomia-barra 2s forwards;
}
@keyframes autonomia-barra{
   100%{
      width: 38%;
   }
}